rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Worklogs collectie
    match /worklogs/{worklog} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    
    // Users collectie
    match /users/{userId} {
      allow create;  // Registratie toestaan
      allow read, write: if request.auth != null && 
        request.auth.uid == userId;  // Alleen eigen profiel beheren
    }
  }
} 